<form #f="ngForm" (ngSubmit)="submit(f.value)">
  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input
      required
      minlength="5"
      ngModel
      name="name"
      #name="ngModel"
      id="name"
      type="text"
      class="form-control"
    />
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
      <div *ngIf="name.errors?.['required']">Course Name is Required</div>
      <div *ngIf="name.errors?.['minlength']">
        Course Name should be minimum
        {{ name.errors?.['minlength'].requiredLength }} characters
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <select
      required
      ngModel
      name="category"
      #category="ngModel"
      id="category"
      class="form-control"
    >
      <option value=""></option>
      <option *ngFor="let c of categories" [value]="c.id">
        {{ c.name }}
      </option>
    </select>
    <div>
      <div
        *ngIf="category.touched && !category.valid"
        class="alert alert-danger"
      >
        Category is Required
      </div>
    </div>
  </div>
  <div class="checkbox">
    <label for="moneyBackGuaranteee">
      <input
        ngModel
        name="hasMoneyBack"
        type="checkbox"
        id="moneyBackGuarantee"
      />
      30-day money back guarantee?
    </label>
  </div>
  <p>{{ f.value | json }}</p>
  <button class="btn btn-primary" [disabled]="!f.valid">Create</button>
</form>
